@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  .align-element {
    @apply mx-auto max-w-7xl px-4 sm:px-8;
  }
}
/* .swiper-button-prev {
  left: auto;
  right: 14px;
  margin-top: 32px;
} */

/* body {
  height: 6000px;
} */
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}
.grid-template-fit {
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.grid-template-fit-sm {
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
}
.paragraph {
  @apply text-slate-400 leading-7 text-sm;
}
.custom-btn {
  @apply btn bg-base-content text-neutral font-bold text-sm hover:bg-base-content/70;
}
/* asdsda */
.scroll-to-top-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.scroll-progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  height: 4px;
  background-color: #333;
}
.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  background: #fdc001;
  transform-origin: 0%;
  z-index: 9999;
}
